<%= render "shared/header" %>
<%= render "shared/photo_search" %>

<div class="gallery">
  <% @photos.each do |f| %>
    <div class="photo-contents">
      <%= link_to gallery_path(f.id),class:"photo-link" do %>
        <%= image_tag f.image_url, class: "sized" %>
      <% end %>
      <div class="photo-date">
        <%= f.photo_date %>
      </div>
      <div class="photo-date">
        投稿者 <%= f.uploader.name%>
      </div>
    </div>
  <% end %>
</div>
