<div class="all">
<%= render "shared/header" %>

<div class="main">
  <div class="bxslider">
    <%= image_tag "top_image1", class:"top_image" %>
    <%= image_tag "top_image2", class:"top_image" %>
    <%= image_tag "top_image3", class:"top_image" %>
    <%= image_tag "top_image4", class:"top_image" %>
  </div>
</div>
<div class="profile">
  <div class="profile-top">ひなちゃん プロフィール</div>
  <div class="profile-content">
    <div class="profile-QA">
      <p>Q, 名前を教えて！</p>
      <p>Q, 性別を教えて！</p>
      <p>Q, いつ生まれたの？<p>
      <p>Q, 生まれた時の身長は？</p>
      <p>Q, 生まれた時の体重は？</p>
      <p>Q, 好きなおもちゃは？</p>
      <p>Q, 初めての寝返りは？</p>
      <p>Q, 初めてのハイハイは？</p>
      <p>Q, 初めて立ったのは？</p>
      <p>Q, 初めての言葉は何？</p>
    </div>
    <div class="profile-QA">
      <p>A, 佐藤 光那 (さとう ひな)</p>
      <p>A, 女の子</p>
      <p>A, 2020年 9月 18日</p>
      <p>A, 47cm</p>
      <p>A, 2493g</p>
      <p>A, ティガーさん</p>
      <p>A, 2021年 3月 29日</p>
      <p>A, coming soon</p>
      <p>A, coming soon</p>
      <p>A, coming soon</p>
    </div>
  </div>
</div>

</div>